<!-- <ul>
  <li><%= @player.username %></li>
  <li><%= @player.number_games_played %></li>
  <li><%= @player.highest_score %></li>
</ul> -->


<h5><%= @player.username %>, you have played <%= @count %> Games:</h5>
<ol>
  <li><%= @which_game %>
    <ul>
      <li><%= @score %></li>
    </ul>
  </li>
</ol>
