<h5><%= @player.username %>, you have played <%= @count %> Games:</h5>
<ol>
  <% @array_all_games_for_player.each do |one_game| %>
  <% game = @games[one_game] %>
    <li>
        <p><%= game.created_at.strftime('%A %B %d, %Y') %></p>
      <ul>
        <li><%= game.final_score %></li>
        <li><%= game.correct_answers %></li>
      </ul>
    </li>
    <hr>
<% end %>
</ol>
