<!-- <p>Left off on Sat June 10:</p>
<ul>
  <li>Rethink the redirect path from create new player to create new game. Right now it's circular</li>
  <li>Show data about the player and the game in the same view</li>
</ul> -->


<h4>Now showing <%= @player.username%>'s game #<%= @this_game['id'] %></h4>

  <ul>
    <li>Date Created: <%= @this_game.created_at.strftime('%A, %B %d, %Y') %></li>
    <li>Correct Answers: <%= @this_game.correct_answers %></li>
    <li>Final Score: <%= @this_game.final_score %></li>
  </ul>

  Airdate: <%= @clue[0][:airdate] %><br>
  Category: <%= @clue[0][:category_name] %><br>
  Question: <%= @clue[0][:question] %><br>
  Value: <%= @clue[0][:value] %><br>
  Answer: <%= @clue[0][:answer] %><br>
  cat_id: <%= @clue[0][:category_id] %><br><br>

  Airdate: <%= @clue[1][:airdate] %><br>
  Category: <%= @clue[1][:category_name] %><br>
  Question: <%= @clue[1][:question] %><br>
  Value: <%= @clue[1][:value] %><br>
  Answer: <%= @clue[1][:answer] %><br>
  cat_id: <%= @clue[1][:category_id] %><br><br>

  Airdate: <%= @clue[2][:airdate] %><br>
  Category: <%= @clue[2][:category_name] %><br>
  Question: <%= @clue[2][:question] %><br>
  Value: <%= @clue[2][:value] %><br>
  Answer: <%= @clue[2][:answer] %><br>
  cat_id: <%= @clue[2][:category_id] %><br><br>

  Airdate: <%= @clue[3][:airdate] %><br>
  Category: <%= @clue[3][:category_name] %><br>
  Question: <%= @clue[3][:question] %><br>
  Value: <%= @clue[3][:value] %><br>
  Answer: <%= @clue[3][:answer] %><br>
  cat_id: <%= @clue[3][:category_id] %><br><br>

  Airdate: <%= @clue[4][:airdate] %><br>
  Category: <%= @clue[4][:category_name] %><br>
  Question: <%= @clue[4][:question] %><br>
  Value: <%= @clue[4][:value] %><br>
  Answer: <%= @clue[4][:answer] %><br>
  cat_id: <%= @clue[4][:category_id] %><br><br>
