<!-- <p>Left off on Sat June 10:</p>
<ul>
  <li>Rethink the redirect path from create new player to create new game. Right now it's circular</li>
  <li>Show data about the player and the game in the same view</li>
</ul> -->

<div class="row">
  <h4>Now showing <%= @player.username %>'s game #<%= @this_game['id'] %></h4>

  <ul>
    <li>Date Created: <%= @this_game.created_at.strftime('%A, %B %d, %Y') %></li>
    <li>Correct Answers: <%= @this_game.correct_answers %></li>
    <li>Final Score: <%= @this_game.final_score %></li>
  </ul>
</div>

<h2><%= Game.get_clues.length %></h2>

<div class="row">
  <div class="col-md-3">

    <% @clue.each do |clue_array| %>
          <p> <%= clue_array[:category_name] %></p>
          <p> <%= clue_array[:question] %></p>
          <p><%= clue_array[:value] %></p>
          <p><%= clue_array[:answer] %></p>
    <% end %>


  </div>
</div>