<!-- <p>Left off on Sat June 10:</p>
<ul>
  <li>Create a counter to increase the number of games played on the show game view</li>
  <li>Rethink the redirect path from create new player to create new game. Right now it's circular</li>
  <li>Show data about the player and the game in the same view</li>
</ul> -->


<h4>Now showing <%= @player.username %>'s game #
  <%= @this_game['id'] %></h4>

  <!-- id | player_id | correct_answers | final_score |         created_at         |         updated_at          -->
  <ul>
    <li>Date Created: <%= @this_game.created_at.strftime('%A, %B %d, %Y') %></li>
    <li>Correct Answers: <%= @this_game.correct_answers %></li>
    <li>Final Score: <%= @this_game.final_score %></li>
  </ul>


GAME

<%= Game.whoami("Tova", "knit") %>
