<!-- <p>Left off on Sat June 10:</p>
<ul>
  <li>Rethink the redirect path from create new player to create new game. Right now it's circular</li>
  <li>Show data about the player and the game in the same view</li>
</ul> -->

<div class="row">
  <h4>Now showing <%= @player.username %>'s game #<%= @this_game.game_number_for_player %></h4>
  <ul>
    <li>Date Created: <%= @this_game.created_at.strftime('%A, %B %d, %Y') %></li>
    <li>Correct Answers: <%= @this_game.correct_answers %></li>
    <li>Final Score: <%= @this_game.final_score %></li>
  </ul>
</div>

<div class="row">
  <% @categories.each do |category| %>
  <div class="col-md-4 col-xs-12 col-category">
    <% category_name = category.keys[0] %>
    <h3><%= category_name.upcase %></h3>
    <h5><%= category[category_name][0][0].airdate.strftime('%A, %B %d, %Y') %></h5>
    <% category[category_name][0].each do |cat| %>
      <div class="clue" style="border:solid 1px black">
        <ul>
          <li><%= cat.value %></li>
          <li><%= cat.question %></li>
          <li><%= cat.answer%> </li>
        </ul>
      </div><!-- clue -->
      <% end %>
    </div><!-- col -->
    <% end %>
</div><!-- row -->
