
<h3>Welcome, <%= @player.username%>! This is your profile page</h3>

<%= Player.whoami(@player.username, @player.favorite_thing) %> <br><br>


<p>You've played <%= @player.number_games_played %> game<%= @player.number_games_played < 2 ? ' ' : 's ' %>so far. Click <a href="/players/<%= @player.id%>/games/">here </a>to see a list of all your games.</p>


 <a href="/players/<%= @player.id%>/edit/" class="btn btn-warning">Edit</a></p>
<!-- <%= link_to 'Edit',url_for(action: :edit, id: @player.id),method: :get, :class => "btn btn-warning"%> -->

<%= link_to 'Delete',url_for(action: :destroy, id: @player.id),method: :delete, :class => "btn btn-danger", data: {confirm: "Are you sure?"} %>
