
<h3>Welcome, <%= @player.username%>! This is your profile page</h3>

<p>You've played <%= @player.number_games_played %> games so far. Click <a href="/players/<%= @player.id%>/games/">here </a>to see a list of all your games.</p>

Click <a href="/players/<%= @player.id%>/edit/">here </a>to edit your profile.</p>

<%= button_to "Delete my Profile", @player, :method => :delete %>
